*
!.gitignore
!.zshrc
!gitignore_generator.sh

!scripts/
!scripts/**


!.config/i3/
!.config/i3/**

!.config/picom/
!.config/picom/**

!.config/dunst/
!.config/dunst/**

!.config/kitty/
!.config/kitty/**

!.config/nvim/
!.config/nvim/**

!.config/flameshot/
!.config/flameshot/**

!.config/gtk-3.0/
!.config/gtk-3.0/**


